In [1]:
import numpy as np
import pandas as pd
import nltk
#stemming class from nltk
from nltk.stem.porter import PorterStemmer
#count vectorizor
from sklearn.feature_extraction.text import CountVectorizer
#cosine similarties to calculate the similarty measure between movies
from sklearn.metrics.pairwise import cosine_similarity

In [2]:
df = pd.read_csv(r'C:\Users\Malik\Desktop\New Text Document (3).txt')

In [3]:
ps = PorterStemmer()
stopwords = nltk.corpus.stopwords.words('english')

In [4]:
def stem (text):
    y = []
    for i in text.split():
        if i not in stopwords:
            y.append(ps.stem(i))
    return ' '.join(y)

In [5]:
df['stem_tag'] = df['tags'].apply(lambda x: stem(x) )

In [6]:
df

,movie_id,title,tags,stem_tag
0,19995,Avatar,"in the 22nd century, a paraplegic marine is di...","22nd century, parapleg marin dispatch moon pan..."
1,285,Pirates of the Caribbean: At World's End,"captain barbossa, long believed to be dead, ha...","captain barbossa, long believ dead, come back ..."
2,206647,Spectre,a cryptic message from bond’s past sends him o...,cryptic messag bond’ past send trail uncov sin...
3,49026,The Dark Knight Rises,following the death of district attorney harve...,"follow death district attorney harvey dent, ba..."
4,49529,John Carter,"john carter is a war-weary, former military ca...","john carter war-weary, former militari captain..."
...,...,...,...,...
4801,9367,El Mariachi,el mariachi just wants to play his guitar and ...,el mariachi want play guitar carri famili trad...
4802,72766,Newlyweds,a newlywed couple's honeymoon is upended by th...,newlyw couple' honeymoon upend arriv respect s...
4803,231617,"Signed, Sealed, Delivered","""signed, sealed, delivered"" introduces a dedic...","""signed, sealed, delivered"" introduc dedic qua..."
4804,126186,Shanghai Calling,when ambitious new york attorney sam is sent t...,ambiti new york attorney sam sent shanghai ass...
4805,25975,My Date with Drew,ever since the second grade when he first saw ...,ever sinc second grade first saw e.t. extrater...

In [7]:
cv = CountVectorizer()
x = cv.fit_transform(df['stem_tag']).toarray()

In [8]:
similarity = cosine_similarity(x)

In [9]:
similarity[1]

array([0.06693161, 1.        , 0.0722944 , ..., 0.01937097, 0.        ,
       0.        ])

In [10]:
similarity.shape

(4806, 4806)

In [11]:
def recommend (movie):
    y = df.index[df['title']== movie].tolist()[0]
    z = sorted(list(enumerate (similarity[y])), reverse=True, key=lambda x:x[1])[1:6]
    for idx, value in z:
        print(df['title'][idx])

In [35]:
from tkinter import *
from tkinter import ttk

In [71]:
def submit ():
    y = df.index[df['title']== mycombo.get()].tolist()[0]
    z = sorted(list(enumerate (similarity[y])), reverse=True, key=lambda x:x[1])[1:6]
    result = []
    for idx, value in z:
        result.append(df['title'][idx])
    mytext.insert(INSERT, result)

def clear():
    mytext.delete(1.0, END)
root = Tk()
root.geometry( "500x500" )
root.title('Recommendation system')
options = sorted(df['title'].tolist())


mycombo = ttk.Combobox(root, value=options)
mycombo.current(0)
mycombo.bind('<<ComboboxSelected>>')
mycombo.pack()

mybutton = Button(root, text= 'submit', command = submit)
mybutton.pack()

mytext = Text(root, width=75, height = 6)
mytext.pack()

mybutton = Button(root, text= 'clear', command = clear)
mybutton.pack()
root.mainloop()